@page "/soon"
@layout BlankLayout

<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto">
            <h1 style="text-align:center;">Coming soon!</h1>
            <h2 style="text-align:center;">Home to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more</h2>
            <h3 style="text-align:center;">Expected Release: Q2 2022</h3>
        </div>
    </div>
</div>

@code {

}
