@page "/soon"
@layout BlankLayout

<div class="container-fluid" style="background-image: url('/img/backgrounds/servicestates.avif'); background-size: cover; background-repeat: no-repeat; height: 100vh; width: 100vw;">
    <div class="row align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
        <div class="col-auto" style="background-color: rgba(0, 0, 0, 0.75); backdrop-filter: blur(24px); padding: 100px;">
            <h1 style="text-align:center;">Coming soon!</h1>
            <h2 style="text-align:center;">Home to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more</h2>
            <h3 style="text-align:center;">Expected Release: Q2 2022</h3>
        </div>
    </div>
</div>

@code {

}
