@page "/soon"
@layout BlankLayout

<div class="container-fluid" style="background-image: url('/img/backgrounds/servicestates.avif'); background-size: cover; background-repeat: no-repeat; height: 100vh; width: 100vw;">
    <div class="row align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
        <div class="col-auto" style="background-color: rgba(0, 0, 0, 0.75); backdrop-filter: blur(24px); padding: 50px; border-radius: 24px; max-width: 800px;">
            <h1 style="text-align:center;">Coming soon!</h1>
            <h4 style="text-align:center;">Home to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more</h4>
            <h5 style="text-align:center;">Expected Release: Q2 2022</h5>
            <hr />
            <a  style="text-align:center;" href="https://github.com/Star-Aether" target="_blank"><h6>Keep up with progress on Github - Click here!</h6></a>
        </div>
    </div>
</div>

@code {

}
