@page "/econome"

<div id="econome-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>Econome coming when the quanta economy system is released!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>Github Milestone: <a target="_blank" href="https://github.com/Star-Athenaeum/The-Website/milestone/7">https://github.com/Star-Athenaeum/The-Website/milestone/7</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Todo List (Subject to change)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <ul>
                    <li>
                        <h6>Intergallatic Economy Monitoring</h6>
                        <p>Monitor the current status of the economy of the UEE as a whole! (This is highly dependent on what data CIG expose)</p>
                    </li>
                    <li>
                        <h6>Solar System Level Economy Monitoring</h6>
                        <p>Monitor the current status of the economy for an entire solar system. (This is highly dependent on what data CIG expose)</p>
                    </li>
                    <li>
                        <h6>Planet Level Economy Monitoring</h6>
                        <p>Monitor the current status of the economy of a planet. (This is highly dependent on what data CIG expose)</p>
                    </li>
                    <li>
                        <h6>Intergration With Star Gazer</h6>
                        <p>Econome will intergrate its data straight into Star Gazer. If you click on a planet, you can view its entire economical status. Want to see where quantanium is most common at the lowest price?</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
