@page "/fleeter"

<div id="fleeter-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>Fleeter coming soon!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>Github Milestone: <a target="_blank" href="https://github.com/Star-Athenaeum/The-Website/milestone/7">https://github.com/Star-Athenaeum/The-Website/milestone/7</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Todo List (Subject to change)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <ul>
                    <li>
                        <h6>Exterior Viewing</h6>
                        <p>View any ship or ground vehicle externally.</p>
                    </li>
                    <li>
                        <h6>Interior Viewing</h6>
                        <p>View any ship or ground vehicle internally.</p>
                    </li>
                    <li>
                        <h6>DPS Calculator</h6>
                        <p>Figure out the best configuration of weaponry for your ships and ground vehicles for maximum affect.</p>
                    </li>
                    <li>
                        <h6>Fleet Viewer</h6>
                        <p>View your entire fleet in any way you want! Even put your Drake Interplanetary ship on a luxurious planet surrounded by filthy rich people.</p>
                    </li>
                    <li>
                        <h6>Intergration With Star Gazer</h6>
                        <p>See how your ships/ground vehicles configuration will affect your travels across the verse!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
