@page "/loadupout"

<div id="loadupout-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>Load-Up &amp; Out coming soon!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>Github Milestone: <a target="_blank" href="/">Yet to be decided</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Todo List (Subject to change)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <ul>
                    <li>
                        <h6>Melee Weapons Viewing</h6>
                        <p>View any melee weapon in full 3D.</p>
                    </li>
                    <li>
                        <h6>Projectile Weapons Viewing</h6>
                        <p>View any projectile based weapon in full 3D.</p>
                    </li>
                    <li>
                        <h6>Throwable Weapons Viewing</h6>
                        <p>View any throwable weapon in full 3D.</p>
                    </li>
                    <li>
                        <h6>Medical Tools Viewing</h6>
                        <p>View any medical tool in full 3D.</p>
                    </li>
                    <li>
                        <h6>Medical Item Viewing</h6>
                        <p>View any medical item in full 3D.</p>
                    </li>
                    <li>
                        <h6>Mining Tools Viewing</h6>
                        <p>View any mining tool in full 3D.</p>
                    </li>
                    <li>
                        <h6>Mining Item Viewing</h6>
                        <p>View any mining item in full 3D.</p>
                    </li>
                    <li>
                        <h6>Melee Weapons Statistics</h6>
                        <p>See what each melee weapon is capable of.</p>
                    </li>
                    <li>
                        <h6>Projectile Weapons Statistics</h6>
                        <p>See what each projectile weapon is capable of.</p>
                    </li>
                    <li>
                        <h6>Throwable Weapons Statistics</h6>
                        <p>See what each throwable weapon is capable of.</p>
                    </li>
                    <li>
                        <h6>Medical Tools Statistics</h6>
                        <p>See what each medical tool is capable of.</p>
                    </li>
                    <li>
                        <h6>Medical Items Statistics</h6>
                        <p>See what each medical item is capable of.</p>
                    </li>
                    <li>
                        <h6>Mining Tools Statistics</h6>
                        <p>See what each mining tool is capable of.</p>
                    </li>
                    <li>
                        <h6>Mining Items Statistics</h6>
                        <p>See what each mining item is capable of.</p>
                    </li>
                    <li>
                        <h6>Melee Weapons Comparisons</h6>
                        <p>Compare multiple melee weapons.</p>
                    </li>
                    <li>
                        <h6>Projectile Weapons Comparisons</h6>
                        <p>Compare multiple projectile weapons.</p>
                    </li>
                    <li>
                        <h6>Throwable Weapons Comparisons</h6>
                        <p>Compare multiple throwable weapons.</p>
                    </li>
                    <li>
                        <h6>Medical Tools Comparisons</h6>
                        <p>Compare multiple medical tools.</p>
                    </li>
                    <li>
                        <h6>Medical Items Comparisons</h6>
                        <p>Compare multiple medical items.</p>
                    </li>
                    <li>
                        <h6>Mining Tools Comparisons</h6>
                        <p>Compare multiple mining tools.</p>
                    </li>
                    <li>
                        <h6>Mining Items Comparisons</h6>
                        <p>Compare multiple mining items.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
