<div id="headlines-ticker" class="row">
    <div id="headlines-ticker-content" class="col">
        <div class="row justify-content-end">
            <div class="col-auto">
                <h6>Remember, always blame Jared Huckaby for everything.</h6>
			</div>
            <div class="col-auto">
                <h6>Remember, always blame Jared Huckaby for everything.</h6>
			</div>
            <div class="col-auto">
                <h6>Remember, always blame Jared Huckaby for everything.</h6>
			</div>
        </div>
    </div>
    <div id="headlines-ticker-title" class="col-auto">
        <h6>Headlines</h6>
    </div>
</div>

@code {

}
