<div class="row header">
    <div class="col title">
        <h5>
            v@(CardVersion)
        </h5>
    </div>
    <small class="status">@(CardStatus.ToString())</small>
</div>

@inject RoadmapV1State RoadmapV1State

@code {

    [Parameter]
    public Dictionary<RSI_Roadmap_State_Category, List<RSI_Roadmap_State_Feature>> CardState { get; set; }

    [Parameter]
    public RSI_Roadmap_State_Status CardStatus { get; set; }

    [Parameter]
    public string CardVersion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Logger.LogInfo(CardVersion);
    }
}
