<div class="col">
    <hr />
    <div class="row category">
        <div class="col">
            <Virtualize Items="Features" Context="feature">
                <Placeholder>
                    <h4>Loading Feature...</h4>
                </Placeholder>
                <ItemContent>
                    <RoadmapCardCategoryItemFrame Title="@(feature.Name)">
                        <RoadmapCardCategoryFeature Feature="feature" />
                    </RoadmapCardCategoryItemFrame>
                    @if (feature.Name == Features.Last().Name)
                    {
                        <hr />
                    }
                </ItemContent>
            </Virtualize>
        </div>
    </div>
</div>

@inject ClientState State

@code {

    [Parameter]
    public List<RSI_Roadmap_State_Feature> Features { get; set; }
}
