<div class="col-auto roadmap-release-view-card needs-status">
    <RoadmapReleaseHeader RoadmapRelease="@Release" />
    <RoadmapReleaseBody Release="@Release" />
</div>

@code {

    [Parameter]
    public RSI_Bson_Roadmap_Release Release { get; set; }
}
