<div class="row body">
    <div class="col">
        @foreach (RSI_Bson_Roadmap_Card_Category category in Enum.GetValues(typeof(RSI_Bson_Roadmap_Card_Category)))
        {
            @if (Release.cards.Exists(x => x.category == category))
            {
                <RoadmapReleaseCategoryFrame Title="@category.ToString()">
                    <RoadmapReleaseCategory FilteredCards="@Release.cards.FindAll(x => x.category == category)" />
                </RoadmapReleaseCategoryFrame>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public RSI_Bson_Roadmap_Release Release { get; set; }

}
