<div class="row body">
    <div class="col">
        @foreach (RSI_Roadmap_State_Category category in CardState.Keys)
        {
            <RoadmapCardItemFrame Title="@(category == RSI_Roadmap_State_Category.AI ? "AI" : 
                                           category == RSI_Roadmap_State_Category.Characters ? "Characters" : 
                                           category == RSI_Roadmap_State_Category.CoreTech ? "Core Tech" : 
                                           category == RSI_Roadmap_State_Category.Gameplay ? "Gameplay" :
                                           category == RSI_Roadmap_State_Category.Items ? "Weapons & Items" :
                                           category == RSI_Roadmap_State_Category.Locations ? "Locations" :
                                           category == RSI_Roadmap_State_Category.Vehicles ? "Ships & Vehicles" : string.Empty)">
                <RoadmapCardCategory Features="CardState[category]" />
            </RoadmapCardItemFrame>
        }
    </div>
</div>

@code {

    [Parameter]
    public Dictionary<RSI_Roadmap_State_Category, List<RSI_Roadmap_State_Feature>> CardState { get; set; }

}
