<div class="row header">
    <div class="col-auto title">
        <h5>
            v@(RoadmapRelease.version)
        </h5>
    </div>
    <small class="col-auto status">NEEDS STATUS</small>
</div>

@code {

    [Parameter]
    public RSI_Bson_Roadmap_Release RoadmapRelease { get; set; }
}
