<div class="col">
    <div class="row feature">
        <div class="col">
            <div class="row">
                <div class="col feature-img">
                    @if (Feature.ThumbnailLink != null)
                    {
                        <img src="@(Feature.ThumbnailLink)" draggable="false" alt="Feature Image" />
                    }
                    <div class="task-overlay">
                        <small>
                            @FeatureStatus.ToString()
                        </small>
                    </div>
                </div>
            </div>
            @if (Feature.Description != null)
            {
                <div class="row">
                    <div class="col feature-description">
                        <small>@Feature.Description</small>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@inject RoadmapV1State RoadmapV1State

@code {

    [Parameter]
    public RSI_Roadmap_State_Feature Feature { get; set; }

    [Parameter]
    public RSI_Roadmap_State_Status FeatureStatus { get; set; }
}
