<div class="col-auto roadmap-release-view-card @(CardStatus.ToString().ToLower())">
    <RoadmapCardHeader CardState="CardState" CardStatus="CardStatus" CardVersion="@CardVersion" />
    <RoadmapCardBody CardState="CardState" />
</div>

@inject RoadmapV1State RoadmapV1State 

@code {

    [Parameter]
    public Dictionary<RSI_Roadmap_State_Category, List<RSI_Roadmap_State_Feature>> CardState { get; set; }

    [Parameter]
    public RSI_Roadmap_State_Status CardStatus { get; set; }

    [Parameter]
    public string CardVersion { get; set; }
}
