[submodule "JSON"]
	path = JSON
	url = https://github.com/Star-Aether/JSON
[submodule "Core/UEESA.Client/wwwroot-dev/css/thirdparty/fontawesome"]
	path = Core/UEESA.Client/wwwroot-dev/css/thirdparty/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "Core/UEESA.Client/wwwroot-dev/css/thirdparty/bootstrap"]
	path = Core/UEESA.Client/wwwroot-dev/css/thirdparty/bootstrap
	url = https://github.com/twbs/bootstrap
