[submodule "JSON"]
	path = JSON
	url = https://github.com/Star-Aether/JSON
[submodule "Core/UEESA.Client/wwwroot-dev/css/thirdparty/fontawesome"]
	path = fontawesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "Core/UEESA.Client/wwwroot-dev/css/thirdparty/bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "GSAP"]
	path = GSAP
	url = https://github.com/greensock/GSAP
