@if (IsCollasped)
{
<div class="row header justify-content-center">
    <div class="col title">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h5>v@(RoadmapRelease.Version)</h5>
            </div>
        </div>
    </div>
    <small class="col-auto status">NEEDS STATUS</small>
    <div class="col expand-button" @onclick="@(() => IsCollapsedCallback.InvokeAsync(false))">
        <i class="fas fa-chevron-right"></i>
    </div>
</div>
}
else
{
<div class="row justify-content-center header">
    <div class="col-auto title">
        <h5>v@(RoadmapRelease.Version)</h5>
    </div>
    <small class="col status">NEEDS STATUS</small>
    <div class="col-auto expand-button" @onclick="@(() => IsCollapsedCallback.InvokeAsync(true))">
        <i class="fas fa-chevron-left"></i>
    </div>
</div>
}

@code {

    [Parameter]
    public bool IsCollasped { get; set; }

    [Parameter]
    public EventCallback<bool> IsCollapsedCallback { get; set; }

    [Parameter]
    public UEESA_Bson_Roadmap_Release RoadmapRelease { get; set; }
}
