<div class="row body">
    <div class="col">
        @foreach (UEESA_Bson_Roadmap_Card_Category category in Enum.GetValues(typeof(UEESA_Bson_Roadmap_Card_Category)))
        {
            @if (Release.Cards.Exists(x => x.Category == category))
            {
                <RoadmapReleaseCategoryFrame Title="@category.ToString()">
                    <RoadmapReleaseCategory FilteredCards="@Release.Cards.FindAll(x => x.Category == category)" />
                </RoadmapReleaseCategoryFrame>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public UEESA_Bson_Roadmap_Release Release { get; set; }

}
