@inherits LayoutComponentBase

<ContextualBackground />
<main class="container-fluid">
    @Body
</main>

@inject UIState UIState
@inject ClientState ClientState
@inject JSInterface.AnimationManager AnimationManager

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            UIState.FirstRender = false;
            await AnimationManager.FadePageIn(UIState.FirstRender);
            await Task.Delay(TimeSpan.FromSeconds(0.3));
            await AnimationManager.FadeInBackground();
        }
        else
        {
            await AnimationManager.FadeInBackground();
            await Task.Delay(TimeSpan.FromSeconds(0.3));
            await AnimationManager.FadePageIn(UIState.FirstRender);
        }
    }
}