<div id="sidebar-right" class="side-bar row align-items-center">
    <div class="col">
        <div class="row">
	        <div class="col">
		        <button>
			        <p><i class="fas fa-envelope"></i></p>
		        </button>
	        </div>
        </div>
        <div class="vr" />
        <div class="row">
	        <div class="col">
		        <button>
			        <p><i class="fas fa-cog"></i></p>
		        </button>
	        </div>
        </div>
    </div>
</div>

@code {

}
