<div id="sidebar-right" class="side-bar row align-items-center">
    <div class="col">
        <div class="row">
	        <div class="col">
		        <a target="_blank" rel="noreferrer" href="https://www.paypal.com/donate?business=34XKEAHD8RALY&no_recurring=0&item_name=Star+Aether&currency_code=USD"><i class="fas fa-hand-holding-heart"></i></a>
	        </div>
        </div>
		<div class="vr" />
        <div class="row">
	        <div class="col">
		        <div class="button" style="padding-left:18px;padding-right:18px;">
			        <p><i class="fas fa-info"></i></p>
		        </div>
	        </div>
        </div>
		<div class="vr" />
        <div class="row">
	        <div class="col">
		        <div class="button">
			        <p><i class="fas fa-bell"></i></p>
		        </div>
	        </div>
        </div>
    </div>
</div>

@code {

}
