<div class="col">
    <RoadmapCardCategoryStatistics Card="CardData" Features="Features" AvailableDates="AvailableDates" />
    <hr />
    <div class="row category">
        <div class="col">
            <Virtualize Items="Features" Context="feature">
                <Placeholder>
                    <h4>Loading Feature...</h4>
                </Placeholder>
                <ItemContent>
                    <RoadmapCardCategoryItemFrame Title="@(feature.Title)">
                        <RoadmapCardCategoryFeature Card="CardData" Feature="feature" AvailableDates="AvailableDates" />
                    </RoadmapCardCategoryItemFrame>
                    @if (feature.Title == Features.Last().Title)
                    {
                        <hr />
                    }
                </ItemContent>
            </Virtualize>
        </div>
    </div>
</div>

@inject ClientState State

@code {

    [Parameter]
    public RoadmapCardData CardData { get; set; }

    [Parameter]
    public List<RoadmapFeatureData> Features { get; set; }

    [Parameter]
    public List<DateTime> AvailableDates { get; set; }
}
