<div class="row body">
    <div class="col">
        <RoadmapCardBodyInfo Card="CardData" AvailableDates="AvailableDates" />
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.Characters))
        {
            <RoadmapCardItemFrame Title="Characters">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.Characters)"           AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.Locations))
        {
            <RoadmapCardItemFrame Title="Locations">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.Locations)"            AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.AI))
        {
            <RoadmapCardItemFrame Title="AI">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.AI)"                   AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.Gameplay))
        {
            <RoadmapCardItemFrame Title="Gameplay">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.Gameplay)"             AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.ShipsAndVehicles))
        {
            <RoadmapCardItemFrame Title="Ships And Vehicles">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.ShipsAndVehicles)"     AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.WeaponsAndItems))
        {
            <RoadmapCardItemFrame Title="Weapons And Items">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.WeaponsAndItems)"      AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
        @if (CardData.VersionFeatures.Any(o => o.Category == RoadmapCardCategoryData.CoreTech))
        {
            <RoadmapCardItemFrame Title="Core Tech">
                <RoadmapCardCategory Card="CardData" Features="CardData.VersionFeatures.FindAll(o => o.Category == RoadmapCardCategoryData.CoreTech)"             AvailableDates="AvailableDates" />
            </RoadmapCardItemFrame>
        }
    </div>
</div>

@code {

    [Parameter]
    public RoadmapCardData CardData { get; set; }

    [Parameter]
    public bool IsStatisticsCollapsed { get; set; }

    [Parameter]
    public bool IsPatchNotesCollapsed { get; set; }

    [Parameter]
    public List<DateTime> AvailableDates { get; set; }

}
