<nav id="main-nav" class="container-fluid">
    @if (IsDesktop != null) 
    {
        @if (IsDesktop == true)
        {
            <div id="desktop-nav" class="row">
                <div id="corner-background"></div>
                <div id="bordered-line-above"></div>
                <div id="bordered-line-patch"></div>
                <MainNavigationBarHeadlinesTicker />
                <MainNavigationBarEconomeTicker />
                <div id="main-navbar-buttons-offset" class="col-auto"></div>
                <div id="logo-container">
                    <PreNavLink href="/">
                        <img src="favicon.svg" draggable="false" alt="Logo" />
                    </PreNavLink>
                </div>
                <div class="col-auto bordered-line-v"></div>
                <div class="col">
                    <div class="row">
                        <div id="bordered-line-navbar-buttons-top" class="col bordered-line-h"></div>
                    </div>
                    <MainNavigationBarNavigator IsMobileNavbarVisible="@IsMobileNavbarVisible" />
                </div>
                <MainNavigationBarSettingsButton />
                <MainNavigationBarProfileButton />
            </div>
        }
        else
        {
            <div id="mobile-nav" class="row">
                <div class="col">
                    <MainNavigationBarNavigator IsMobileNavbarVisible="@IsMobileNavbarVisible" />
                    <div class="row justify-content-center bordered-line-top">
                        <img class="logo" src="favicon.svg" draggable="false" alt="Logo" />
                        <div class="col-auto">
                            <button class="collapsing-button" @onclick="ToggleMobileNavbar">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <MainNavigationBarSettingsButton />
                        <MainNavigationBarProfileButton />
                    </div>
                </div>
            </div>
        }
    }
</nav>

@code {
    bool? IsDesktop = true;
    private bool IsMobileNavbarVisible;

    private void ToggleMobileNavbar() => IsMobileNavbarVisible = !IsMobileNavbarVisible;
}
