<div id="main-nav-buttons" class="row">
    <div class="col">
        <div class="row">
            @if (PageState.IsCurrentContextPageSet)
            {
                int count = PageState.PageContexts.OrderBy(o => o.IsHidden == false).Where(o => !o.IsHidden).ToList().Count;
                <div class="col nav-section">
                    <div class="row justify-content-center">
                        @for (int i = 1; i < (int)Math.Ceiling((double)(count / 2)) + 1; i++)
                        {
                            int local = i; // This fixes a strange issue
                            <div class="col-auto">
                                <PreNavLink href="@("/" + PageState.PageContexts[local].InformalPageName.ToLower())"><p>@(PageState.PageContexts[local].FormalPageName)</p></PreNavLink>
                            </div>
                        }
                    </div>
                </div>
                <ProfileButton />
                <div class="col nav-section">
                    <div class="row justify-content-center">
                        @for (int i = (int)Math.Floor((double)(count / 2)) + 1; i < count; i++)
                        {
                            int local = i; // This fixes a strange issue
                            <div class="col-auto">
                                <PreNavLink href="@("/" + PageState.PageContexts[local].InformalPageName.ToLower())"><p>@(PageState.PageContexts[local].FormalPageName)</p></PreNavLink>
                            </div>
                        }
                    </div>
                </div>       
            }
		</div>
	</div>
</div>

@inject UIState.PageState PageState

@code {

    [Parameter]
    public bool IsMobileNavbarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PageState.OnPagePreTransition += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
