<div id="settings-button" class="col-auto" @onclick="ToggleSettingsPanel">
    <i class="fas fa-cog"></i>
</div>
<a id="id-card" class="col-auto" onclick="alert('Login system coming soon™')">
    <div class="row">
        <div class="col">
            <div id="id-card-name" class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <small>Concierge Stryxus</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small>View Profile</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="id-card-avatar" class="col-auto">
            <img draggable="false" src="/img/avatar.svg" alt="Avatar" />
        </div>
    </div>
</a>

@inject UIState UIState

@code {        

    private void ToggleSettingsPanel() => UIState.ToggleSettingsPanelVisibility();
}
