<a class="@(UIState.CurrentPage == href ? "active" : string.Empty)" draggable="false" @onclick="@(async () =>
                                 {
                                     if (UIState.CurrentPage != href)
                                     {
                                         UIState.CurrentPage = href;
                                         await AnimationManager.FadePageOut();
                                         await Task.Delay(TimeSpan.FromSeconds(0.4));
                                         NavigationManager.NavigateTo(href);
                                     }
                                 })">@ChildContent</a>

@inject UIState UIState
@inject NavigationManager NavigationManager
@inject JSInterface.AnimationManager AnimationManager 

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string href { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UIState.OnPageChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
