@if (PageState.CurrentPageContext.ShowControlpanel)
{
<div id="sidebar-bordered-lines">
    <div id="sidebar-left-near"></div>
    <div id="sidebar-left-far"></div>
    <div id="sidebar-right-near"></div>
    <div id="sidebar-right-far"></div>
</div>
<HeadlinesTicker />
<EconomeTicker />
<ProfilePanel />
<SidebarLeftSide />
<SidebarRightSide />
<MainNavigationBar />
}

@inject UIState.PageState PageState

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PageState.OnPageTransitionBackgroundStage += StateHasChanged;
    }
}
