<div id="profile-button" class="col-auto @(toggle ? "active" : string.Empty)" 
@onclick="@(async () => 
{
	toggle = !toggle;
	await AnimationManager.SlideInOutProfilePanel(toggle);
})">
	<img src="/img/avatar.avif" alt="Avatar" />
</div>

@inject JSInterface.AnimationManager AnimationManager

@code {
	private bool toggle = false;
}
