@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div id="profile-panel" class="row bordered bordered-line-all">
    <div class="col">
        <AuthorizeView>
            <Authorized>
                <div id="details-bar" class="row bordered bordered-line-bottom">
                    <div class="col-auto">
                        <img src="/img/avatar.avif" alt="Avatar" />
                    </div>
                    <div class="col-auto">
                        <small>@context.User.Identity.Name</small>
                    </div>
                    <div class="col-auto">
                        <button id="sign-out-button" @onclick="BeginSignOut">Sign out</button>
                    </div>
                </div>
                <ProfilePanelDropdown Name="My Assets">
                    <ProfilePanelEditProfilePanel />
                </ProfilePanelDropdown>
                <ProfilePanelDropdown Name="Profile Settings">
                    <ProfilePanelEditProfilePanel />
                </ProfilePanelDropdown>
                <ProfilePanelDropdown Name="Application Settings">
                    <ProfilePanelSettingsPanel />
                </ProfilePanelDropdown>
            </Authorized>
            <NotAuthorized>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <img src="favicon.svg" width="100" height="100" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <h4>Login</h4> 
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <p>Select the way you would like to login:</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a href="authentication/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
