<div id="viewport-overlay">
    <h6>The viewport/screen size is too small! Star Athenaeum strictly enforces a minimum width of 375 (relative) pixels!</h6>
</div>
<div id="loading-overlay">
    <img draggable="false" height="300" width="300" src="favicon.svg" alt="Logo" />
    <div class="progress progress-infinite">
        <div class="progress-bar3" />
    </div>
</div>
<div id="background-container" />
<div id="router">
    <div id="webpage">
        <Router AppAssembly="@typeof(Startup).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h4 id="page-load-error">Uh oh! There seems to be an error loading this page!</h4>
                </LayoutView>
            </NotFound>
        </Router>
    </div>
    <UtilitiesSideBar />
    <SettingsPanel />
    <MainNavigationBar />
</div>

@inject LazyAssemblyLoader LazyLoader

@inject InitializationState InitializationState
@inject ClientState ClientState
@inject ServerState ServerState
@inject LocalStorageState LocalStorageState
@inject WebSocketManagerMiddleware WebSocketMiddleware

@inject JSInterface Javascript
@inject JSInterface.Runtime Runtime
@inject JSInterface.Cache Cache
@inject JSInterface.LocalData LocalData
@inject JSInterface.AnimationManager AnimationManager

@code {

    protected override async Task OnInitializedAsync()
    {
        await InitializationState.Init();
        await base.OnInitializedAsync();
    }
}