<select class="udropdown" @onselectionchange="OnSelectionChange">
    @if (Items is not null)
    {
        @foreach (string item in Items)
        {
            <option value="@item">@item</option>
        }
    }
</select>

@code {

    [Parameter]
    public List<string>? Items { get; set; }

    [Parameter]
    public EventCallback<EventArgs> OnSelectionChange { get; set; }
}
