@page "/econome"

<div id="econome-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">

    </div>
</div>

@inject UIState UIState  

@code {        

    protected override async Task OnParametersSetAsync()
    {
        UIState.CurrentPage = "/econome";
        await base.OnParametersSetAsync();
    }
}
