@page "/"

<div id="index-page" class="row justify-content-center no-scroll shaded-page">
    <div class="col alt-scroll">
        <div id="warning">
            <h6><i class="fas fa-exclamation-triangle"></i> WARNING: This website is under heavy development, expect many bugs and huge changes! <i class="fas fa-exclamation-triangle"></i></h6>
        </div>
        <div id="welcome" class="row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img id="logo-showcase" src="/favicon.svg" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h1 id="title">United Empire of Earth - Star Aether</h1>
                        <h4 id="slogan">Welcome to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more!</h4>
                    </div>
                </div>
                <div id="scroll-down" class="row justify-content-center">
                    <div class="col-auto">
                        <button @onclick="@ScrollDownFromTop"><p>Scroll down to learn a little more! <i class="fas fa-mouse"></i></p></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="what-is-sa" class="row justify-content-center">
            <div class="col-8">
                <h1>How did Star Athenaeum come to be and what is it?</h1>
                <p>
                    The Star Aether Project came to be almost exactly a year after Stryxus became a part of the Star Citizen community on the 20th October 2020. It was seen as a need because of the
                    ever growing inconsistencies and decentralisation that came with the ever growing amount of tools for Star Ciitzen scattered across many sites, so with vast programming skills, Stryxus decided to attempt 
                    to fix this - The Star Aether Project was born. Star Aether was named after its ambitious project Star Gazer.
                </p>
                <p>
                    The Star Aether project is a vast amount of ever increasing centralised tools exclusively for Star Citizen! Each tool is individually tailored to in its own way using unique systems as well as those systems
                    working together. The tools provided range from the ambitions Google Earth-esk project of Star Gazer which contains the full star system network of Star Citizen with many micro details, to the smaller
                    service status detector which can notify you on your personalised selection of status changes.
                </p>
            </div>
        </div>
        <div id="founder" class="row">
            <div class="col-auto">
                <img id="founder-img" src="/img/home/stryxus.webp" />
            </div>
            <div class="col">
                <h1>Star Aethers's Founder</h1>
                <p>
                    Placeholder
                </p>
            </div>
        </div>
        <div id="contributing" class="row">
            <div class="col-auto">
                <img id="contributing-img" src="/img/home/contributing.webp" />
            </div>
            <div class="col">
                <h1>Contributing to the project!</h1>
                <p>
                    Placeholder
                </p>
            </div>
        </div>
    </div>
</div>

@inject JSInterface.AnimationManager AnimationManager

@code {

    private async void ScrollDownFromTop() => await AnimationManager.ScrollToElement("what-is-sa");
}
