@page "/"

<div id="index-page" class="row justify-content-center no-scroll">
    <div class="col alt-scroll">

    </div>
</div>

@inject UIState UIState
@inject ClientState ClientState

@code {

    protected override async Task OnParametersSetAsync()
    {
        UIState.CurrentPage = "/";
        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        UIState.SetNavBarTickerVisibility(true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) UIState.HasCurrentPageLoaded = true;
    }
}
