@page "/"

<div id="index-page" class="row justify-content-center no-scroll shaded-page">
    <div class="col alt-scroll">
        <div id="welcome" class="row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img id="logo-showcase" src="/favicon.svg" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h1 id="title">United Empire of Earth - Star Athenaeum</h1>
                        <h4 id="slogan">Welcome to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="what-is-sa" class="row justify-content-center">
            <div class="col-8">
                <h1>How did Star Athenaeum come to be and what is it?</h1>
                <p>
                    The Star Athenaeum project came to be almost exactly a year after Stryxus became a part of the Star Citizen community on the 20th October 2020. It was seen as a need because of the
                    ever growing inconsistencies that came with the ever growing amount of tools for Star Ciitzen, so this in conjunction with Stryxus' vast knowledge of several programming languages and how
                    the web and several native systems work - The Star Athenaeum Project was born. Star Athenaeum was named after its ambitious project Star Gazer which refers to a Star Map and was named after Athenaum,
                    which is Greek for "An institution, such as a literary club or scientific academy, for the promotion of learning." or "A place, such as a library, where printed materials are available for reading.".
                </p>
                <p>
                    The Star Athenaeum project is a vast amount of ever increasing tools exclusively for Star Citizen! Each tool is individually tailored to in its own way using unique systems as well as those systems
                    working together. The tools provided range from the ambitions Google Earth-esk project of Star Gazer which contains the full star system network of Star Citizen with many micro details, to the smaller
                    service status detector which can notify you on your personalised selection of status changes.
                </p>
            </div>
        </div>
        <div id="founder" class="row">
            <div class="col-auto">
                <img id="founder-img" src="/img/home/stryxus.webp" />
            </div>
            <div class="col">
                <h1>Star Athenaeum's Founder</h1>
                <p>
                    Test
                </p>
            </div>
        </div>
        <div id="contributing" class="row">
            <div class="col-auto">
                <img id="contributing-img" src="/img/home/contributing.webp" />
            </div>
            <div class="col">
                <h1>Is there any way i can help the project?</h1>
                <p>
                    Test
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
