@page "/loadupout"

<div id="loadupout-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">
        <h2>This page is under construction!</h2>
    </div>
</div>

@inject UIState UIState

@code {

    protected override async Task OnParametersSetAsync()
    {
        UIState.CurrentPage = "/loadupout";
        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        UIState.SetNavBarTickerVisibility(false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) UIState.HasCurrentPageLoaded = true;
    }
}
