@page "/roadmap"

<div id="roadmap-page" class="row no-scroll">
    <div class="col">
        <div id="roadmap-cards" class="row align-items-stretch">
            @if (ClientState.RoadmapState != null && ClientState.RoadmapState.Features != null)
            {
                @foreach (string release in ClientState.RoadmapState.Features.Keys)
                {
                    <RoadmapCard CardState="ClientState.RoadmapState.Features[release]" CardStatus="ClientState.RoadmapState.ReleaseStatus[release]" CardVersion="@release" />
                }
            }
        </div>
    </div>
</div>

@inject UIState UIState
@inject ClientState ClientState

@code {

    protected override async Task OnParametersSetAsync()
    {
        UIState.CurrentPage = "/roadmap";
        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        ClientState.OnRoadmapStateChanged += StateHasChanged;
        await base.OnInitializedAsync();
        UIState.SetNavBarTickerVisibility(false);
    }
}