@page "/servicestates"

<div id="servicestates-page" class="row justify-content-center">
    <div class="col-auto padded-scroll">

    </div>
</div>

@inject UIState UIState

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        UIState.SetNavBarTickerVisibility(true);
    }
}
