@page "/loadupout"

<div id="loadupout-page" class="row justify-content-center todo-page">
    <div class="col-auto padded-scroll">
        <h2>This page is under construction!</h2>
    </div>
</div>

@code {

}
