@page "/roadmap"

<div id="roadmap-page" class="row no-scroll">
    <div class="col">
        <div id="roadmap-cards" class="row align-items-stretch justify-content-center">
            @if (ClientState.RoadmapData != null && ClientState.RoadmapData.Releases != null)
            {
                @for (int i = 0; i < 10; i++)
                {
                    <RoadmapRelease Release="@ClientState.RoadmapData.Releases[i]" />
                }
            }
        </div>
    </div>
</div>

@inject ClientState ClientState

@code {

    protected override async Task OnInitializedAsync()
    {
        ClientState.OnRoadmapDataUpdated += StateHasChanged;
        await base.OnInitializedAsync();
    }
}