@page "/roadmap"

<div id="roadmap-page" class="row no-scroll">
    <div class="col">
        <div id="roadmap-cards" class="row align-items-stretch">
            @if (ClientState.RoadmapData != null && ClientState.RoadmapData.releases != null)
            {
                @foreach (UEESA_Bson_Roadmap_Release release in ClientState.RoadmapData.releases)
                {
                    <RoadmapRelease Release="@release" />
                }
            }
        </div>
    </div>
</div>

@inject ClientState ClientState

@code {

    protected override async Task OnInitializedAsync()
    {
        ClientState.OnRoadmapDataUpdated += StateHasChanged;
        await base.OnInitializedAsync();
    }
}