#main-nav {
    position: fixed;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: $zindex-navigation-bar;

    a {
        color: white !important;
        font-style: normal !important;
    }
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {

    #main-nav {
        height: $navigation-bar-height + px;
        bottom: -($navbarCornerContainterTopWidth + px);

        & > .row {
            margin: 0px;

            & > .col {
                padding: 0px;
            }
        }

        #main-nav-bordered-lines {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            pointer-events: none;
            z-index: $zindex-navigation-bar-borders;

            & > * {
                border-color: $colour-grey-10;
                border-style: solid;
                border-top-width: 1px;
                border-bottom-width: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
                position: absolute;
            }

            //

            #main-nav-sidebar-left-near, #main-nav-sidebar-left-far, #main-nav-sidebar-right-near, #main-nav-sidebar-right-far {
                border-top-width: 0px;
                border-left-width: 1px;
            }

            #main-nav-sidebar-left-near {
                left: $navbarCornerContainterTopWidth + px;
                height: calc(100% - #{$navbarCornerContainerHeight + $duo-line-seperator-size}px);
            }

            #main-nav-sidebar-left-far {
                left: #{$navbarCornerContainterTopWidth + $duo-line-seperator-size} + px;
                height: calc(100% - #{$navbarCornerContainerHeight + $duo-line-seperator-size}px);
            }

            #main-nav-sidebar-right-near {
                right: $navbarCornerContainterTopWidth + px;
                height: calc(100% - #{$navbarCornerContainerHeight + $duo-line-seperator-size}px);
            }

            #main-nav-sidebar-right-far {
                right: #{$navbarCornerContainterTopWidth + $duo-line-seperator-size} + px;
                height: calc(100% - #{$navbarCornerContainerHeight + $duo-line-seperator-size}px);
            }

            //

            #logo-corner-straight-top {
                bottom: #{$navbarCornerContainerWidth + $duo-line-seperator-size} + px;
                left: 0px;
                width: $navbarCornerContainterTopWidth + px;
            }

            #logo-corner-straight-bottom {
                bottom: $navbarCornerContainerWidth + px;
                left: 0px;
                width: $navbarCornerContainterTopWidth + px;
            }

            #logo-corner-sloped-near {
                bottom: $navbarCornerContainterTopWidth + px;
                left: 38px;
                width: 224px;
                transform: rotate(63.5deg);
            }

            #logo-corner-sloped-far {
                bottom: #{$navbarCornerContainterTopWidth + $duo-line-seperator-size + 25} + px;
                left: #{53 + $duo-line-seperator-size} + px;
                width: 168.5px;
                transform: rotate(63.5deg);
            }

            //

            #main-nav-left-side {
                bottom: 25px;
                left: #{161.5 + $duo-line-seperator-size} + px;
                width: 56.5px;
                transform: rotate(63.5deg);
            }

            #main-nav-left-top {
                bottom: #{50 + $duo-line-seperator-size} + px;
                left: 181px;
                width: calc(100% / 2 - #{$navigation-bar-height * 2.5 + $duo-line-seperator-size + 5}px);
            }

            #main-nav-left-bottom {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + px;
                left: 183px;
                width: calc(100% / 2 - #{$navigation-bar-height * 2.5 + $duo-line-seperator-size + 2}px);
            }

            #main-nav-hex-left-top {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + $duo-line-seperator-size + 25 + px;
                left: calc(100% / 2 - #{$navigation-bar-height + $duo-line-seperator-size - 15.75}px);
                width: 71px;
                transform: rotate(-45deg);
            }

            #main-nav-hex-left-bottom {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + $duo-line-seperator-size + 19 + px;
                left: calc(100% / 2 - #{$navigation-bar-height + math.div($duo-line-seperator-size, 2) - 18}px);
                width: 70px;
                transform: rotate(-45deg);
            }

            #main-nav-hex-middle-top {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + ($duo-line-seperator-size * 2) + 44 + px;
                left: calc(100% / 2 - 30px);
                width: 59.75px;
            }

            #main-nav-hex-middle-bottom {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + $duo-line-seperator-size + 44 + px;
                left: calc(100% / 2 - 25.5px);
                width: 51px;
            }

            #main-nav-hex-right-top {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + $duo-line-seperator-size + 25 + px;
                right: calc(100% / 2 - #{$navigation-bar-height + $duo-line-seperator-size - 15.75}px);
                width: 71px;
                transform: rotate(45deg);
            }

            #main-nav-hex-right-bottom {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + $duo-line-seperator-size + 19 + px;
                right: calc(100% / 2 - #{$navigation-bar-height + math.div($duo-line-seperator-size, 2) - 18}px);
                width: 70px;
                transform: rotate(45deg);
            }

            #main-nav-right-top {
                bottom: #{50 + $duo-line-seperator-size} + px;
                right: 181px;
                width: calc(100% / 2 - #{$navigation-bar-height * 2.5 + $duo-line-seperator-size + 5}px);
            }

            #main-nav-right-bottom {
                bottom: math.div($navbarCornerContainterTopWidth, 2) + px;
                right: 183px;
                width: calc(100% / 2 - #{$navigation-bar-height * 2.5 + $duo-line-seperator-size + 2}px);
            }

            #main-nav-right-side {
                bottom: 25px;
                right: #{161.5 + $duo-line-seperator-size} + px;
                width: 56.5px;
                transform: rotate(-63.5deg);
            }

            //

            #settings-corner-straight-top {
                bottom: #{$navbarCornerContainerWidth + $duo-line-seperator-size} + px;
                right: 0px;
                width: $navbarCornerContainterTopWidth + px;
            }

            #settings-corner-straight-bottom {
                bottom: $navbarCornerContainerWidth + px;
                right: 0px;
                width: $navbarCornerContainterTopWidth + 0.25 + px;
            }

            #settings-corner-sloped-near {
                bottom: $navbarCornerContainterTopWidth + px;
                right: 38.25px;
                width: 224px;
                transform: rotate(-63.5deg);
            }

            #settings-corner-sloped-far {
                bottom: #{$navbarCornerContainterTopWidth + $duo-line-seperator-size + 25} + px;
                right: #{53 + $duo-line-seperator-size} + px;
                width: 168.5px;
                transform: rotate(-63.5deg);
            }
        }

        #logo-corner, #settings-corner {
            width: $navbarCornerContainerWidth + px;
            height: $navbarCornerContainerHeight + px;
            padding: 0px;
            position: absolute;
            bottom: 0px;
            backdrop-filter: $backdrop-blur-heavy;
            background-color: rgba($colour-black, 0.5);

            a {
                width: $navbarCornerContainerWidth + px;
                height: $navbarCornerContainerHeight + px;
    
                &.active {
                    background-color: $colour-blue-darkest-trans-low;
                }
    
                &:hover {
                    background-color: $colour-blue-darker-trans-low;
                }
            }
        }

        #logo-corner {
            clip-path: polygon(0px 0px, #{$navbarCornerContainterTopWidth + px} 0px, 100% 100%, 0px 100%);
            left: 0px;

            img {
                position: absolute;
                height: 120px;
                width: 120px;
                bottom: 30px;
                left: 20px;
                cursor: pointer;
            }
        }

        #settings-corner {
            clip-path: polygon(#{$navbarCornerContainterTopWidth + px} 0px, 100% 0px, 100% 100%, 0px 100%);
            right: 0px;

            img {
                position: absolute;
                height: 120px;
                width: 120px;
                bottom: 15px;
                right: 15px;
                cursor: pointer;
            }
        }
    
        #main-nav-buttons {
            $rotational-spacing: 24;

            position: absolute;
            left: (math.div($navbarCornerContainerWidth + 216 - $rotational-spacing, 2)) + px;
            right: (math.div($navbarCornerContainerWidth + 216 - $rotational-spacing, 2)) + px;
            bottom: 0px;
            height: $navigation-bar-height + px;

            & > .col {
                height: inherit;

                & > .row {
                    $hexSize: math.div($navigation-bar-height, 2);

                    clip-path: polygon(0px #{$hexSize + px}, calc(50% - #{$hexSize * 1.5 + px}) #{$hexSize + px}, calc(50% - #{math.div($hexSize, 2) + px}) 0px, calc(50% + #{math.div($hexSize, 2) + px}) 0px, calc(50% + #{$hexSize * 1.5 + px}) #{$hexSize + px}, 100% #{$hexSize + px}, calc(100% - #{$rotational-spacing + px}) 100%, #{$rotational-spacing + px} 100%);
                    height: inherit;
                    backdrop-filter: $backdrop-blur-heavy;
                    background-color: rgba($colour-black, 0.5);

                    #profile-button {
                        width: #{$hexSize * 3 + px};
                        height: #{$hexSize * 3 + px};
                        padding: 0px;
                        padding-left: #{$hexSize * 0.3 + px};
                        padding-right: #{$hexSize * 0.3 + px};
                        cursor: pointer;

                        img {
                            width: #{$hexSize * 2.5 + px};
                            height: #{$hexSize * 2.5 + px};
                            transform: translateY(-20px);
                        }

                        &.active {
                            background-color: $colour-blue-darkest-trans-low;
                            color: $colour-white !important;
                        }
    
                        &:hover {
                            background-color: $colour-blue-darker-trans-low;
                            color: $colour-white !important;
                        }
                    }

                    & > .nav-section {
                        height: $hexSize + px;
                        width: 100%;
                        margin-top: $hexSize + px;
                        overflow-y: auto;
                        padding: 0px;

                        & > .row {
                            padding: 0px;
                            margin: 0px;
                            height: inherit;
            
                            & > .col-auto {
                                padding: 0px;
                                height: inherit;
            
                                a {
                                    text-decoration: none;
                                    height: inherit;
                
                                    p {
                                        font-size: 14px;
                                        font-weight: 300;
                                        padding-top: 13px;
                                        padding-bottom: 13px;
                                        padding-left: 45px;
                                        padding-right: 45px;
                                        margin: 0px;
                                    }
                
                                    &.active {
                                        background-color: $colour-blue-darkest-trans-low;
                                        color: $colour-white !important;
                                    }
                
                                    &:hover {
                                        background-color: $colour-blue-darker-trans-low;
                                        color: $colour-white !important;
                                    }
                                }
                            }
                        }

                        &:first-child {
                            & > .row {
                                & > .col-auto {
                                    a {
                                        transform: skewX(28.25deg);
                    
                                        p {
                                            transform: skewX(-28.25deg);
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child {
                            & > .row {
                                & > .col-auto {
                                    a {
                                        transform: skewX(-28.25deg);
                    
                                        p {
                                            transform: skewX(28.25deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {

}

// Desktop

@include media-breakpoint-down(lg) {
    #main-nav {

    }
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
    
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity