@page "/"

<div id="startup-page" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col">
                    <UHeader Size="3">Star Aether UEFI</UHeader>
                </div>
            </div>
            <hr />
            <div class="row justify-content-center">
                <div class="col-10 col-lg">
                    <UHeader Size="5">Star Aether UEFI is the place where you can configure the app before it has even started downloading.</UHeader>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 col-lg">
                    <UButton>Enable All</UButton>
                </div>
                <div class="col-5 col-lg">
                    <UButton>Disable All</UButton>
                </div>
                <div class="col-10 col-lg">
                    <UButton>Save &amp; Continue</UButton>
                </div>
            </div>
            <hr />
            <div class="row justify-content-center">
                <div class="col-10 col-lg">
                    <p style="text-align: center;">
                        Estimated Full App Download: @((RuntimeState.ClientSize / 1000000).ToString("0,0.000"))MB
                    </p>
                    <small style="text-align: center;">
                        The initial app download size is usually a lot smaller. App assets will be dynamically downloaded depending on what you do with the app.
                    </small>
                    <p style="color: darkgreen; text-align: center;">
                        Your browser has passed 0/0 compatibility tests.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <UHeader Size="4">Maintenance</UHeader>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <UHeader Size="4">Permissions</UHeader>
                </div>
            </div>
            <hr />
            <div class="row justify-content-center">
                <div class="col-10 col-lg">
                    <UUnorderedList>
                        <li>
                            <UInput Type="checkbox">Enable Local Storage</UInput>
                            <small>
                                Local Storage is a ways &amp; means of storing isolated data (usually small amounts) within your browser/on your device.
                            </small>
                            <small>
                                You can find this by pressing F12 &amp; going to the Application tab. Under this tab, there is the Local Storage tab which will show all data stored by the domain.
                            </small>
                            <small>
                                Local Storage will still be used if disabled but only to save the JSON data of these settings.
                            </small>
                        </li>
                        <li>
                            <UInput Type="checkbox">Enable PWA Support</UInput>
                            <small>
                                Enabling Progressive Web App support will enable scripts which allow the app to be installed as if it is a native app on your device.
                            </small>
                            <small>
                                When the app is installed as a PWA, the script will cache any asset into Local Storage for quick access &amp; offline use to an extent.
                                It will also allow the use of some native features like Windows' push notifications.
                            </small>
                        </li>
                        <li>
                            <UInput Type="checkbox">Enable Audio</UInput>
                            <small>
                                Its known throughout the internet that people do not like immediate audio (Which is why there is this page) or audio at all.
                            </small>
                        </li>
                        <li>
                            <UInput Type="checkbox">Enable Eco Mode</UInput>
                            <small>
                                Eco Mode will put multiple features, pages &amp; functions into a light processing mode, saving battery life overall.
                            </small>
                        </li>
                    </UUnorderedList>
                </div>
            </div>
        </div>
    </div>
</div>

@inject RuntimeState RuntimeState

@code {



}