#index-page {

    & > .col > .row {

        & > div {
            padding: 100px;
        }

        &:nth-child(4n) {
            background-color: $colour-grey-2-trans-low;
        }
    }

    #warning {
        background-color: rgba(200, 0, 0, 0.75);
        color: white;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 100%;
        backdrop-filter: $backdrop-blur-heavy;
        
        h6 {
            width: 100%;
            text-align: center;
            margin: 0px;
        }
    }

    #welcome {
        width: 100%;
        height: calc(100% + #{ $navigation-bar-height * 2 + px });
        display: table;
        margin: initial !important;

        & > * {
            display: table-cell; 
            vertical-align: middle;
        }
        
        #logo-showcase {
            width: 400px;
        }
    
        #title {
            margin-bottom: 4px;
            text-align: center;
        }

        #slogan {
            margin-top: 4px;
            font-weight: lighter !important;
            text-align: center;
        }

        #scroll-down {
            margin-top: 100px;
            
            p {
                margin: 10px;
            }
        }
    }

    #what-is-sa {
        text-align: center;
    }

    #founder {

        #founder-img {
            width: 400px;
            margin-right: 30px;
        }
    }

    #contributing {

        #contributing-img {
            width: 400px;
            margin-right: 30px;
        }
    }
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {
    #index-page {

    }
}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

// Desktop

@include media-breakpoint-down(lg) {
    #index-page {
        
    }
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity