<div id="viewport-overlay">
    <h6>The viewport/screen size is too small! Star Athenaeum strictly enforces a minimum width of 375 (relative) pixels!</h6>
</div>
<div id="loading-overlay">
    <img draggable="false" height="300" width="300" src="favicon.svg" alt="Logo" />
    <div class="progress progress-infinite">
        <div class="progress-bar3" />
    </div>
</div>
<div id="background-container" />
<div id="router">
    <div id="webpage">
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h4 id="page-load-error">Uh oh! There seems to be an error loading this page!</h4>
                </LayoutView>
            </NotFound>
        </Router>
    </div>
    <UtilitiesSideBar />
    <SettingsPanel />
    <MainNavigationBar />
</div>

@inject NavigationManager NavigationManager

@inject InitializationState InitializationState
@inject UIState UIState
@inject ClientState ClientState
@inject ServerState ServerState
@inject LocalStorageState LocalStorageState
@inject WebSocketManagerMiddleware WebSocketMiddleware

@inject JSInterface Javascript
@inject JSInterface.Utilities Utilities
@inject JSInterface.Runtime Runtime
@inject JSInterface.Cache Cache
@inject JSInterface.LocalData LocalData
@inject JSInterface.AnimationManager AnimationManager

@code {

    protected override async Task OnInitializedAsync()
    {
        await InitializationState.Init();
        UIState.SetPageContexts(new List<PageContext>()
    {
            new PageContext
            {
                FormalPageName = "Home",
                InformalPageName = "",
                ForceNavBarTickersInvisible = false,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Citizen Blog",
                InformalPageName = "blog",
                ForceNavBarTickersInvisible = true,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Roadmap",
                InformalPageName = "roadmap",
                ForceNavBarTickersInvisible = true,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Star Gazer",
                InformalPageName = "stargazer",
                ForceNavBarTickersInvisible = true,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Fleeter",
                InformalPageName = "fleeter",
                ForceNavBarTickersInvisible = true,
                PageBackgroundName = "fleeter"
            },
            new PageContext
            {
                FormalPageName = "Load Up & Out",
                InformalPageName = "loadupout",
                ForceNavBarTickersInvisible = true,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Econome",
                InformalPageName = "econome",
                ForceNavBarTickersInvisible = false,
                PageBackgroundName = "econome"
            },
            new PageContext
            {
                FormalPageName = "Xenoguist",
                InformalPageName = "xenoguist",
                ForceNavBarTickersInvisible = false,
                PageBackgroundName = null
            },
            new PageContext
            {
                FormalPageName = "Service States",
                InformalPageName = "servicestates",
                ForceNavBarTickersInvisible = false,
                PageBackgroundName = null
            }
        });
        if (NavigationManager.Uri == NavigationManager.BaseUri) UIState.CurrentPage = UIState.PageContexts.First(x => x.InformalPageName.IsEmpty());
        else UIState.CurrentPage = UIState.PageContexts.First(x => x.InformalPageName == NavigationManager.Uri.Substring(NavigationManager.Uri.LastIndexOf('/') + 1));
        await base.OnInitializedAsync();
    }
}