.roadmap-release-view-card {
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $colour-grey-1-trans-low;
    backdrop-filter: $backdrop-blur-heavy;
    border-left: 1px solid $colour-grey-7-trans-high;
    border-right: 1px solid $colour-grey-7-trans-high;

    &.released {
        .header {
            background-color: $colour-green-main-trans-low;
        }
    }

    &.committed {
        .header {
            background-color: $colour-blue-main-trans-low;
        }
    }

    &.tentative {
        .header {
            background-color: $colour-red-darker-trans-low;
        }
    }

    .header {
        border-bottom: 1px solid $colour-grey-7-trans-high;
        margin: 0px;

        .title {
            background-color: $colour-grey-7-trans-high;

            h5 {
                font-weight: lighter;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }

        .status {
            font-weight: 400;
            display: block;
            line-height: 40.6666px;
        }
    }

    .body {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;

        & > .col:last-child {
            margin-bottom: 105px;
        }

        .col {
            padding: 0px;
        }

        .row {
            margin: 0px;
        }

        hr {
            border-top: 5px solid rgba($colour-grey-9-trans-high, 0.25);
            border-bottom: none;
            border-left: none;
            border-right: none;
            height: 0px;
            margin: 0px;
        }

        .section-category-frame {
            
            .section-line, .section-item-frame-line {
                width: 5px;
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }

            .section-line {
                background-color: rgba($colour-grey-4-trans-high, 0.4);
            }

            .section-item-frame-line {
                background-color: rgba($colour-grey-9-trans-high, 0.25);
            }

            i {
                font-size: 11px;
            }

            .section-title {
                background-color: rgba($colour-grey-2-trans-high, 0.4);
                cursor: pointer;

                h6 {
                    text-align: left;
                    padding-top: 8px;
                    padding-bottom: 6px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    letter-spacing: 0.75px;
                    font-weight: 200;
                }
            }

            .section-item-frame-title {

                .col-auto {
                    background-color: $colour-grey-3-trans-low;
                }

                .col {
                    background-color: $colour-grey-9-trans-low;
                }

                h6 {
                    background-color: rgba($colour-grey-1, 0.1);
                    text-align: left;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    letter-spacing: 0.75px;
                    font-size: 14px;
                    font-weight: 200;
                }
            }

            .category {

                .feature {

                    .not-added {
                        background-color: $colour-red-main-trans-low;

                        small {
                            padding: 8px;
                        }
                    }

                    .feature-img {
                        position: relative;

                        img {
                            width: 100%;
                            height: 225px;
                            object-fit: cover;
                            display: block;
                        }

                        .task-overlay {
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            backdrop-filter: $backdrop-blur-heavy;

                            &.released {
                                background-color: $colour-green-main-trans-low;
                            }
                        
                            &.committed {
                                background-color: $colour-blue-main-trans-low;
                            }
                        
                            &.tentative {
                                background-color: $colour-red-darker-trans-low;
                            }

                            small {
                                display: block;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                padding-left: 15px;
                                padding-right: 15px;
                                letter-spacing: 0.75px;
                            }
                        }
                    }

                    .feature-description {
                        background-color: $colour-grey-1-trans-low;

                        small {
                            display: block;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 15px;
                            padding-right: 15px;
                            letter-spacing: 0.75px;
                        }
                    }
                }
            }
        }
    }
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {

    .roadmap-v1-star-citizen-card {
        width: 400px;
    }
}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

// Desktop

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity