.bordered-line-top {
    border-top-width: 1px !important;
}

.bordered-line-bottom {
    border-bottom-width: 1px !important;
}

.bordered-line-left {
    border-left-width: 1px !important;
}

.bordered-line-right {
    border-right-width: 1px !important;
}

.bordered-line-h {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 100%;
    height: 6px;
}

.bordered-line-v {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: $navigation-bar-height + px;
    width: 6px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
    margin-top: 1.5px;
    margin-left: 7px;
    margin-right: -21px;
}

.bordered-line-h-alt {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.bordered-line-v-alt {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.bordered {
    border-color: $colour-grey-10;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.bordered-line-h, .bordered-line-v, .bordered-line-h-alt, .bordered-line-v-alt {
    border-color: $colour-grey-10;
    border-style: solid;
}

.shaded-page {
    background-color: $colour-grey-1-trans-high;
}

.todo-page {
    h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $colour-grey-1-trans-high;
        width: auto;
        clip-path: polygon(0px 0px, 100% 0px, calc(100% - 20px) 100%, 20px 100%);
        z-index: 10000;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.vr {
    width: 0px;
    border-left: solid 1px $colour-grey-10;
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {
    
}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

// Desktop

@include media-breakpoint-down(lg) {
    
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity