// Colours Transparent
$colour-trans-low: 0.35;
$colour-trans-high: 0.75;

// Colours
$colour-black: rgb(0, 0, 0);
$colour-white: rgb(255, 255, 255);

$colour-black-trans-low: rgba(0, 0, 0, $colour-trans-low);
$colour-white-trans-low: rgba(255, 255, 255, $colour-trans-low);

$colour-black-trans-high: rgba(0, 0, 0, $colour-trans-high);
$colour-white-trans-high: rgba(255, 255, 255, $colour-trans-high);

// Colours Grey
$colour-grey-1: rgb(10, 10, 10);
$colour-grey-2: rgb(20, 20, 20);
$colour-grey-3: rgb(30, 30, 30);
$colour-grey-4: rgb(40, 40, 40);
$colour-grey-5: rgb(50, 50, 50);
$colour-grey-6: rgb(60, 60, 60);
$colour-grey-7: rgb(70, 70, 70);
$colour-grey-8: rgb(80, 80, 80);
$colour-grey-9: rgb(90, 90, 90);
$colour-grey-10: rgb(100, 100, 100);

$colour-grey-1-trans-low: rgba($colour-grey-1, $colour-trans-low);
$colour-grey-2-trans-low: rgba($colour-grey-2, $colour-trans-low);
$colour-grey-3-trans-low: rgba($colour-grey-3, $colour-trans-low);
$colour-grey-4-trans-low: rgba($colour-grey-4, $colour-trans-low);
$colour-grey-5-trans-low: rgba($colour-grey-5, $colour-trans-low);
$colour-grey-6-trans-low: rgba($colour-grey-6, $colour-trans-low);
$colour-grey-7-trans-low: rgba($colour-grey-7, $colour-trans-low);
$colour-grey-8-trans-low: rgba($colour-grey-8, $colour-trans-low);
$colour-grey-9-trans-low: rgba($colour-grey-9, $colour-trans-low);
$colour-grey-10-trans-low: rgba($colour-grey-10, $colour-trans-low);

$colour-grey-1-trans-high: rgba($colour-grey-1, $colour-trans-high);
$colour-grey-2-trans-high: rgba($colour-grey-2, $colour-trans-high);
$colour-grey-3-trans-high: rgba($colour-grey-3, $colour-trans-high);
$colour-grey-4-trans-high: rgba($colour-grey-4, $colour-trans-high);
$colour-grey-5-trans-high: rgba($colour-grey-5, $colour-trans-high);
$colour-grey-6-trans-high: rgba($colour-grey-6, $colour-trans-high);
$colour-grey-7-trans-high: rgba($colour-grey-7, $colour-trans-high);
$colour-grey-8-trans-high: rgba($colour-grey-8, $colour-trans-high);
$colour-grey-9-trans-high: rgba($colour-grey-9, $colour-trans-high);
$colour-grey-10-trans-high: rgba($colour-grey-10, $colour-trans-high);
// Colours Grey

// Colors Red
$colour-red-lightest: rgb(255, 107, 163);
$colour-red-lighter: rgb(245, 81, 137);
$colour-red-light: rgb(220, 56, 112);
$colour-red-main: rgb(194, 30, 86);
$colour-red-dark: rgb(169, 5, 61);
$colour-red-darker: rgb(143, 0, 35);
$colour-red-darkest: rgb(118, 0, 10);

$colour-red-lightest-trans-low: rgba($colour-red-lightest, $colour-trans-low);
$colour-red-lighter-trans-low: rgba($colour-red-lighter, $colour-trans-low);
$colour-red-light-trans-low: rgba($colour-red-light, $colour-trans-low);
$colour-red-main-trans-low: rgba($colour-red-main, $colour-trans-low);
$colour-red-dark-trans-low: rgba($colour-red-dark, $colour-trans-low);
$colour-red-darker-trans-low: rgba($colour-red-darker, $colour-trans-low);
$colour-red-darkest-trans-low: rgba($colour-red-darkest, $colour-trans-low);

$colour-red-lightest-trans-high: rgba($colour-red-lightest, $colour-trans-high);
$colour-red-lighter-trans-high: rgba($colour-red-lighter, $colour-trans-high);
$colour-red-light-trans-high: rgba($colour-red-light, $colour-trans-high);
$colour-red-main-trans-high: rgba($colour-red-main, $colour-trans-high);
$colour-red-dark-trans-high: rgba($colour-red-dark, $colour-trans-high);
$colour-red-darker-trans-high: rgba($colour-red-darker, $colour-trans-high);
$colour-red-darkest-trans-high: rgba($colour-red-darkest, $colour-trans-high);

// Colours Green
$colour-green-lightest: rgb(218, 255, 77);
$colour-green-lighter: rgb(192, 233, 51);
$colour-green-light: rgb(167, 208, 26);
$colour-green-main: rgb(141, 182, 0);
$colour-green-dark: rgb(116, 157, 0);
$colour-green-darker: rgb(90, 131, 0);
$colour-green-darkest: rgb(65, 106, 0);

$colour-green-lightest-trans-low: rgba($colour-green-lightest, $colour-trans-low);
$colour-green-lighter-trans-low: rgba($colour-green-lighter, $colour-trans-low);
$colour-green-light-trans-low: rgba($colour-green-light, $colour-trans-low);
$colour-green-main-trans-low: rgba($colour-green-main, $colour-trans-low);
$colour-green-dark-trans-low: rgba($colour-green-dark, $colour-trans-low);
$colour-green-darker-trans-low: rgba($colour-green-darker, $colour-trans-low);
$colour-green-darkest-trans-low: rgba($colour-green-darkest, $colour-trans-low);

$colour-green-lightest-trans-high: rgba($colour-green-lightest, $colour-trans-high);
$colour-green-lighter-trans-high: rgba($colour-green-lighter, $colour-trans-high);
$colour-green-light-trans-high: rgba($colour-green-light, $colour-trans-high);
$colour-green-main-trans-high: rgba($colour-green-main, $colour-trans-high);
$colour-green-dark-trans-high: rgba($colour-green-dark, $colour-trans-high);
$colour-green-darker-trans-high: rgba($colour-green-darker, $colour-trans-high);
$colour-green-darkest-trans-high: rgba($colour-green-darkest, $colour-trans-high);

// Colours Blue
$colour-blue-lightest: rgb(133, 237, 237);
$colour-blue-lighter: rgb(107, 211, 211);
$colour-blue-light: rgb(82, 186, 186);
$colour-blue-main: rgb(56, 160, 160);
$colour-blue-dark: rgb(31, 135, 135);
$colour-blue-darker: rgb(5, 109, 109);
$colour-blue-darkest: rgb(0, 84, 84);

$colour-blue-lightest-trans-low: rgba($colour-blue-lightest, $colour-trans-low);
$colour-blue-lighter-trans-low: rgba($colour-blue-lighter, $colour-trans-low);
$colour-blue-light-trans-low: rgba($colour-blue-light, $colour-trans-low);
$colour-blue-main-trans-low: rgba($colour-blue-main, $colour-trans-low);
$colour-blue-dark-trans-low: rgba($colour-blue-dark, $colour-trans-low);
$colour-blue-darker-trans-low: rgba($colour-blue-darker, $colour-trans-low);
$colour-blue-darkest-trans-low: rgba($colour-blue-darkest, $colour-trans-low);

$colour-blue-lightest-trans-high: rgba($colour-blue-lightest, $colour-trans-high);
$colour-blue-lighter-trans-high: rgba($colour-blue-lighter, $colour-trans-high);
$colour-blue-light-trans-high: rgba($colour-blue-light, $colour-trans-high);
$colour-blue-main-trans-high: rgba($colour-blue-main, $colour-trans-high);
$colour-blue-dark-trans-high: rgba($colour-blue-dark, $colour-trans-high);
$colour-blue-darker-trans-high: rgba($colour-blue-darker, $colour-trans-high);
$colour-blue-darkest-trans-high: rgba($colour-blue-darkest, $colour-trans-high);
// Colours Blue

// Colours Conics
$colour-conic: conic-gradient($colour-red-main, $colour-green-main, $colour-blue-main);
$colour-conic-trans-low: conic-gradient($colour-red-main-trans-low, $colour-green-main-trans-low, $colour-blue-main-trans-low, $colour-red-main-trans-low);
$colour-conic-trans-high: conic-gradient($colour-red-main-trans-high, $colour-green-main-trans-high, $colour-blue-main-trans-high, $colour-red-main-trans-high);
// Colours Conics

// Stylings
$backdrop-blur-light: blur(10px);
$backdrop-blur-heavy: blur(20px);

$box-shadow-down-smooth: 0px 10px 50px -10px rgba(0, 0, 0, 0.75);
$box-shadow-down-sharp: 0px 15px 10px -10px rgba(0, 0, 0, 0.4);
$box-shadow-up-smooth: 0px -10px 50px -10px rgba(0, 0, 0, 0.75);
$box-shadow-up-sharp: 0px -15px 10px -10px rgba(0, 0, 0, 0.4);
$box-shadow-left-smooth: -10px -9px 50px -10px rgba(0, 0, 0, 0.75);
$box-shadow-left-sharp: -15px -9px 10px -10px rgba(0, 0, 0, 0.4);
$box-shadow-right-smooth: 10px -9px 50px -10px rgba(0, 0, 0, 0.75);
$box-shadow-right-sharp: 15px -9px 10px -10px rgba(0, 0, 0, 0.4);

// Z-Index
$zindex-background-container: 0;
$zindex-main: 1;
$zindex-navigation-bar: 2;
$zindex-settings-panel: 3;

$zindex-viewport-overlay: 10000;

// Elements
$navigation-bar-height: 82;
$navigation-bar-mobile-height: 50;
$sidebar-width: 100;