<div class="settings-button col-auto @(ComponentState.IsSettingsPanelVisible ? "active" : string.Empty)" @onclick="@(async () => await ComponentState.UpdateSettingsPanelState())">
    <i class="fas fa-cog"></i>
</div>

@inject UIState.ComponentState ComponentState

@code {

    protected override async Task OnInitializedAsync()
    {
        ComponentState.OnSettingsPanelVisibilityChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
