@if (UIState.IsHeadlinesNavBarTickerVisible)
{
    <div id="headlines-navbar-ticker">
        <div id="headlines-navbar-ticker-title" class="col-auto">
            <h6>Headlines</h6>
        </div>
        <div id="headlines-navbar-ticker-content" class="col">
            <div class="row">
                <div class="col-auto"></div>
            </div>
        </div>
    </div>
}

@inject ClientState ClientState
@inject UIState UIState

@inject JSInterface.AnimationManager AnimationManager

@code {

    private bool VisibilityTrigger = true;

    protected override async Task OnInitializedAsync()
    {
        UIState.OnIsEconomeNavBarTickerVisibleChange += () =>
        {
            VisibilityTrigger = true;
            StateHasChanged();
        };
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (UIState.IsHeadlinesNavBarTickerVisible && VisibilityTrigger)
        {
            VisibilityTrigger = false;
            await Task.Delay(TimeSpan.FromSeconds(AnimationManager.Time_NavigationBarSlideIn));
            await AnimationManager.SlideInOutHeadlinesNavBarTicker(true);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
