@if (ClientState.Settings != null)
{
    <div class="headline-ticker" style="@(ClientState.Settings.ShowHealinesTicker && UIState.IsNavBarTickersVisible ? string.Empty : "display: none")">
        <div class="col-auto headline-ticker-title">
            <h6>Headlines</h6>
        </div>
        <div class="col headline-ticker-content">
            <div class="row">
                <div class="col-auto"></div>
            </div>
        </div>
    </div>
}

@inject ClientState ClientState
@inject UIState UIState

@code {

    protected override async Task OnInitializedAsync()
    {
        UIState.OnNavBarTickersVisibilityChange += StateHasChanged;
        ClientState.OnSettingsChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
