@if (IsMobileNavbarVisible)
{
    <div class="row">
        <div class="col">
            @foreach (PageContext page in UIState.PageContexts)
            {
                @if (!page.InformalPageName.IsEmpty())
                {
                    <div class="row">
                        <div class="col">
                            <PreNavLink href="@("/" + page.InformalPageName.ToLower())"><p>@(page.FormalPageName)</p></PreNavLink>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <div class="row">
                @foreach (PageContext page in UIState.PageContexts)
                {
                    @if (!page.InformalPageName.IsEmpty())
                    {
                        <div class="col-auto">
                            <PreNavLink href="@("/" + page.InformalPageName.ToLower())"><p>@(page.FormalPageName)</p></PreNavLink>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

@inject UIState UIState 

@code {

    [Parameter]
    public bool IsMobileNavbarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UIState.OnPageContextsSet += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
