<nav id="main-nav" class="container-fluid">
    <div class="row">
        <div class="col">
            @if (IsMobileNavbarVisible)
            {
                <MainNavigationBarNavigator IsMobileNavbarVisible="@IsMobileNavbarVisible" />
            }
            <div class="row justify-content-center bordered-line-top">
                <img class="logo" src="favicon.svg" draggable="false" alt="Logo" />
                <div class="col-auto">
                    <button class="collapsing-button" @onclick="ToggleMobileNavbar">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <button class="settings-button @(UIState.IsSettingsPanelVisible ? "active" : string.Empty)" @onclick="ToggleSettingsPanel">
                    <i class="fas fa-cog"></i>
                </button>
                <img class="avatar" draggable="false" src="/img/avatar.svg" alt="Avatar" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="corner-background"></div>
        <div class="bordered-line-above"></div>
        <div class="bordered-line-patch"></div>
        <MainNavigationBarHeadlinesTicker />
        <MainNavigationBarEconomeTicker />
        <div class="col-auto main-navbar-buttons-offset"></div>
        <div class="logo-container">
            <PreNavLink href="/">
                <img src="favicon.svg" draggable="false" alt="Logo" />
            </PreNavLink>
        </div>
        <div class="col-auto bordered-line-v"></div>
        <div class="col">
            <div class="row">
                <div class="col bordered-line-h"></div>
            </div>
            <div id="main-nav-buttons" class="row">
                <div class="col">
                    <MainNavigationBarNavigator IsMobileNavbarVisible="@IsMobileNavbarVisible" />
                </div>
                <MainNavigationBarPersonalSection />
            </div>
        </div>
    </div>
</nav>

@inject InitializationState InitState
@inject ClientState ClientState
@inject UIState UIState

@inject JSInterface.AnimationManager AnimationManager

@code {     

    protected override async Task OnInitializedAsync()
    {
        InitState.OnAppLoaded += async () => await AnimationManager.SlideInNavigationBar();
        await base.OnInitializedAsync();
    }

    private bool IsMobileNavbarVisible = false;

    private void ToggleMobileNavbar() => IsMobileNavbarVisible = !IsMobileNavbarVisible;
}
