<a class="@(UIState.CurrentPage.InformalPageName == href[1..] ? "active" : string.Empty)" draggable="false" @onclick="ToggleUIState">@ChildContent</a>

@inject UIState UIState
@inject NavigationManager NavigationManager
@inject JSInterface.AnimationManager AnimationManager 

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string href { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UIState.OnPageChanged += StateHasChanged;
        await base.OnInitializedAsync();
    }

    private async Task ToggleUIState()
    {
        if (UIState.CurrentPage.InformalPageName != href[1..])
        {
            await AnimationManager.FadeInOutBackground(false);
            await AnimationManager.FadePageInOut(false);
            await Task.Delay(TimeSpan.FromSeconds(AnimationManager.Time_PageFade));
            UIState.CurrentPage = UIState.PageContexts.First(x => x.InformalPageName == href[1..]);
            NavigationManager.NavigateTo(href);
            await AnimationManager.FadePageInOut(true);
        }
    }
}
