<div id="social-media" class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://twitter.com/Stryxus"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="vr" />
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://discord.gg/prMBNeC"><i class="fab fa-discord"></i></a>
            </div>
        </div>
        <div class="vr" />
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://github.com/Star-Athenaeum"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="vr" />
    </div>
</div>

@code {

}
