h1 {
    font-size: 1em * 2.5;
    letter-spacing: 1px;
}

h2 {
    font-size: 1em * 2;
    letter-spacing: 1px;
}

h3 {
    font-size: 1em * 1.75;
    letter-spacing: 0.9px;
}

h4 {
    font-size: 1em * 1.5;
    letter-spacing: 0.9px;
}

h5 {
    font-size: 1em * 1.25;
    letter-spacing: 0.75px;
}

h6 {
    font-size: 1em;
    letter-spacing: 0.75px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;

    a {
        display: inline;
    }
}

p, li {
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 24px;

    a {
        display: inline;
    }
}

small {
    display: block;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.65px;

    a {
        display: inline;
    }
}

a {
    display: block;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        color: $colour-blue-main;
    }
}

img {
    display: block;
    object-fit: contain;
}

button {
    display: block;
    border: none;
    outline: none;
    backdrop-filter: $backdrop-blur-heavy;
    color: $colour-white-trans-high;
    font: unset !important;
    border: 1px solid $colour-grey-10-trans-low;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;

    &:hover {
        color: $white;
    }
}

select {
    outline: none;
    border: none;
    backdrop-filter: $backdrop-blur-heavy;
    background-color: $colour-grey-2-trans-high;
    color: white;
    border-radius: 0px;

    option {
        background-color: $colour-grey-3;
    }
}

hr {
    border-top: 1px $colour-grey-10 solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0px !important;
}

// BEGIN-Min-Width

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

// Desktop

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
}

// END-Min-Width

// BEGIN-Max-Width

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

// Desktop

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

// END-Max-Width

// BEGIN-Width-Exclusivity

@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

// Desktop

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

// END-Width-Exclusivity