@use "sass:math";

@import "bootstrap/scss/bootstrap-grid";
@import "fontawesome/scss/fontawesome";
@import "fontawesome/scss/brands";
@import "fontawesome/scss/regular";
@import "fontawesome/scss/solid";

@import "variables";
@import "globalClasses";
@import "elements";
@import "theme";

@import "pages/home";
@import "pages/roadmap";

@import "components/mainNavigationBar";
@import "components/settingsPanel";
@import "components/roadmapCard";
@import "components/overlays/tickers";
@import "components/overlays/sidebars";

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('../fonts/Roboto-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
    font-display: swap;
}



@font-face {
    font-family: 'Zebulon';
    font-weight: 600;
    src: url('../fonts/Zebulon.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Zebulon-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon';
    font-weight: 700;
    src: url('../fonts/Zebulon-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Zebulon-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: 600;
    src: url('../fonts/Zebulon-Condensed.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Zebulon-Condensed-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: 600;
    src: url('../fonts/Zebulon-Condensed-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Zebulon-Condensed-BoldItalic.woff2') format('woff2');
    font-display: swap;
}