#startup-page
    max-width: 600px
    padding-top: 40px
    padding-bottom: 40px
    .uheader
        text-align: center
        margin-left: 24px
        margin-right: 24px
    .ubutton
        margin-bottom: 16px
    li
        margin-top: 24px
        margin-bottom: 24px
        small
            font-style: italic
            color: rgb(150, 150, 150)
    small
        font-weight: light
        margin-bottom: 8px
        margin-left: 30px
        margin-right: 30px

@include media-breakpoint-up(xs)

@include media-breakpoint-up(sm)

@include media-breakpoint-up(md)

// Desktop & Up
@include media-breakpoint-up(lg)

@include media-breakpoint-up(xl)

@include media-breakpoint-down(xs)

@include media-breakpoint-down(sm)

@include media-breakpoint-down(lg)

// Phone & Down
@include media-breakpoint-down(xl)

@include media-breakpoint-only(xs)

@include media-breakpoint-only(sm)

@include media-breakpoint-only(md)

@include media-breakpoint-only(lg)

@include media-breakpoint-only(xl)