name: Build

on:
  schedule:
    - cron:  '*/5 * * * *'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        fail-fast: false
        operating-system: [ubuntu-latest, windows-latest]
        targetplatform: [x64]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Install NuGet
      uses: NuGet/setup-nuget@v1
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.202
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
